<%- include('header')%>
<div class="container">
    <article class="grid" style="background-color:tomato">
        <h1 align="center" style="color:black">Uh oh!</h1>
    </article>
    <article class="grid">
        <div></div>
        <hgroup>
            <h3>We couldn't log you in.</h3>
            <h4><a href="login" class="link">Click here to go back.</a></h4>
        </hgroup>
        <div></div>
    </article>
</div>
<%- include('footer')%>