<%- include('header')%>
<article>
    <header>Welcome back, <%=name%>!</header>
    <body></body>
    <footer>You can create a new post <a href="writing" class="link">here</a></footer>
</article>
<article>
    <header>You have logged in <%=logins%> times.</header>
    <body><a href="login" class="link">Logout</a></body>
</article>
<%- include('footer')%>