<%- include('header')%>
<article>
    <header><h2>Write your thoughts!</h2></header>
    <body><input type='textbox'></body>
    <footer><a href="launch" class="link">Go back</a></footer>
</article>
<%- include('footer')%>